
body {
    background-color: white; 
    color: black; 
  }
  
  .chapter-title {
    font-size: 50pt; 
    margin-top: 2cm; 
    margin-bottom: 5cm; 
    border-top: 3px solid gray; 
    border-bottom: 3px double gray; 
    page-break-before: always; 
    text-align: center;
    border-width:10px;
    display: inline-block;
   
  }
  
  .chapter {
    page-break-before: always; 
    text-align: center;
  }
 .chapter-intro{
    font-size: 40pt; 
    margin-top: 2cm; 
    margin-bottom: 5cm; 
    border-bottom: 3px solid gray; 
    page-break-before: always; 
    border-width:10px;
    

 }
 .chapter-content p {
    font-size: 18pt;
    text-indent: 1cm; 
  }
  
  
  .chapter-content p::first-letter {
    font-weight: bold;
    font-size: 200%;
  }
  
